@import '../../../scss/abstracts/_variables';
@import '../../../scss/abstracts/_functions';
@import '../../../scss/abstracts/_mixins';

:host {
  width: 100%;
  padding: 0.5rem 1.5rem;
}

.menu {
  @include screen-size(medium) {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
  }

  &__search {
    display: flex;
    flex-grow: 1;

    &--hamburger {
      color: lighten($font-color, 15%);
      background: #fff;
      border: none;
      padding-left: inherit;

      @include screen-size(small) {
        padding-left: 0;
      }
    }

    &--items {
      @include textbox();
      &:focus {
        @include focus(0 0 0 1px);
      }

      @include screen-size(small) {
        width: 5rem;
        text-align: right;
      }
    }

    @include screen-size(small) {
      width: 100%;
      justify-content: space-between;
    }

    @include screen-size(medium) {
      width: auto;
    }
  }

  &__user {
    @include margin(null, 20px, null, null);
    display: flex;
    align-items: center;
    @include font-size(14px);

    @include screen-size(small) {
      width: 100%;
      justify-content: space-between;
    }

    @include screen-size(medium) {
      width: auto;
    }

    &__select {
      margin: 0 0.7rem;
      @include textbox();

      &:focus {
        @include focus(0 0 0 1px);
      }
    }

    &__avatar {
      width: 45px;
      height: 45px;
      border-radius: 50%;
    }
  }
}
